<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置UserServiceImpl-->
    <bean id="helloUserService" class="com.itheima.service.impl.UserServiceImpl">
        <!--属性setUserDao-->
        <constructor-arg name="name" value="Tom"></constructor-arg>
        <constructor-arg name="age" value="1"></constructor-arg>
        <property name="userDao" ref="helloUserDao"></property>
    </bean>

    <!--配置UserDaoImpl-->
    <bean id="helloUserDao" class="com.itheima.dao.impl.UserDaoImpl" init-method="init" destroy-method="destroy"></bean>

    <bean id="userDao1" class="com.itheima.factory.MyBeanFactory1" factory-method="userDao"></bean>

</beans>